<mat-tab-group [selectedIndex]="selected" headerPosition="below" color="accent" (swiperight)="swipe($event.type, $event)" (swipeleft)="swipe($event.type, $event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>history</mat-icon>
      <span class="tab-text">
        Reports
      </span>
    </ng-template>
    <div class="tab-content">
      <ng-content select="[history]"></ng-content>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>bar_chart</mat-icon>
      <span class="tab-text">
        Stats
      </span>
    </ng-template>
    <div class="tab-content">
      <ng-content select="[stats]"></ng-content>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>stars</mat-icon>
      <span class="tab-text">
        Chickens
      </span>
    </ng-template>
    <div class="tab-content">
      <ng-content select="[flock]"></ng-content>
    </div>

  </mat-tab>
</mat-tab-group>