<div class="item">
  <mat-chip class="center large">
    {{ totalEggs$ | async}}
  </mat-chip>
  Total eggs
</div>
<div class="item">
  <mat-chip class="center large">
    {{ averageEggsPerDay$ | async }}
  </mat-chip>
  Daily eggs on average
</div>
<div class="item">
  <mat-chip class="center large">
    {{ pricePerEgg$ | async }} kr.
  </mat-chip>
  Per egg on average
</div>
<div class="item">
  <mat-chip class="center large" >
    {{ avgDaysBetweenFoodRefill$ | async }}
  </mat-chip>
  Days between food refills on average
</div>
