<div class="week-container">
    <h2 class="week-header">Week {{selectedWeek.week}}</h2>
    <div class="egg-container">
        <button kirby-button size="lg" [noDecoration]="true" (click)="goToPrevWeek()" [style.visibility]="!prevWeekExist ? 'hidden' : 'visible'">
            <kirby-icon name="arrow-back" size="lg"></kirby-icon>
        </button>

        <div class="count-container">
            <p class="egg-text">{{selectedWeek.eggs}}</p>
        </div>
        
        <button kirby-button size="lg" [noDecoration]="true" (click)="goToNextWeek()"[style.visibility]="selectedWeekIsThisWeek ? 'hidden' : 'visible'">
            <kirby-icon name="arrow-more" size="lg"></kirby-icon>
        </button>
        
    </div>
</div>

<div class="days">
    <div class="day-container">
        <app-day-count [report]="selectedWeek.reports[6]" (click)="openReport(selectedWeek.reports[6])"></app-day-count>
        <div class="week-day">MON</div>
    </div>
    <div class="day-container">
        <app-day-count [report]="selectedWeek.reports[5]" (click)="openReport(selectedWeek.reports[5])"></app-day-count>
        <div class="week-day">TUE</div>
    </div>
    <div class="day-container">
        <app-day-count [report]="selectedWeek.reports[4]" (click)="openReport(selectedWeek.reports[4])"></app-day-count>
        <div class="week-day">WED</div>
    </div>
    <div class="day-container">
        <app-day-count [report]="selectedWeek.reports[3]" (click)="openReport(selectedWeek.reports[3])"></app-day-count>
        <div class="week-day">THU</div>
    </div>
    <div class="day-container">
        <app-day-count [report]="selectedWeek.reports[2]" (click)="openReport(selectedWeek.reports[2])"></app-day-count>
        <div class="week-day">FRI</div>
    </div>
    <div class="day-container">
        <app-day-count [report]="selectedWeek.reports[1]" (click)="openReport(selectedWeek.reports[1])"></app-day-count>
        <div class="week-day">SAT</div>
    </div>
    <div class="day-container">
        <app-day-count [report]="selectedWeek.reports[0]" (click)="openReport(selectedWeek.reports[0])"></app-day-count>
        <div class="week-day">SUN</div>
    </div>
</div>

<div class="coin">
    <div class="coin-text">
        {{pricePerEgg$ | async}} kr.
    </div>
</div>