@import 'colors.scss';

:host {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 auto;
}

.count-container {
    background-image: url("/assets/img/count-egg.png");
    background-size: 150px;
    width: 150px;
    height: 150px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    display: flex;
    justify-content: center;
    align-items: center;
}

.egg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coin {
    background-image: url("/assets/img/coin.png");
    background-size: 120px;
    width: 120px;
    height: 120px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    .coin-text {
        font-size: 18px;
        color: #967a44;
        font-weight: 500;
    }
}

.week-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    display: flex;
    justify-content: center;
}

.day-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.week-day {
    margin-top: 4px;
    font-size: 10px;
}

.egg-text {
    font-size: 18px;
    font-weight: 500;
    color: $black;
    margin: 0;
}

.week-header {
    margin-block-start: 0;
    margin-block-end: 0;
}