<app-stats-row>
  <app-count [count]="totalEggs$ | async" [minimumDigits]="3">
    {{ totalEggs$ | async}}
  </app-count>
  Total eggs
</app-stats-row>
<app-stats-row>
  Daily eggs on average
  <app-count [count]="averageEggsPerDay$ | async" [minimumDigits]="3"></app-count>
  
</app-stats-row>
<app-stats-row>
  <app-count [count]="pricePerEgg$ | async" [postText]="' kr.'" [minimumDigits]="3"></app-count>
  Per egg on average
</app-stats-row>
<app-stats-row>
  <app-count [count]="avgDaysBetweenFoodRefill$ | async" [minimumDigits]="3"></app-count>
  Days between food refills on average
</app-stats-row>
<app-stats-row>
  <app-count [count]="weightPerChickenPerDay$ | async" [minimumDigits]="3"></app-count>
  Grams of food per chicken per day
</app-stats-row>
