<kirby-header [title]="'Analysis'" [subtitle1]="'Your chicken stats'"></kirby-header>

<kirby-card>
  <kirby-item size="sm">
    <h3>Total eggs</h3> 
    <kirby-flag slot="end" themeColor="success">
      <data>{{ totalEggs$ | async}}</data>
    </kirby-flag>
  </kirby-item>
  <kirby-item size="sm">
    <h3>Daily eggs on average</h3>
    <kirby-flag slot="end" themeColor="success">
      <data>{{ averageEggsPerDay$ | async}}</data>
    </kirby-flag>
  </kirby-item>
  <kirby-item size="sm">
    <h3>Price per egg on average</h3>
    <kirby-flag slot="end" themeColor="success">
      <data>{{ pricePerEgg$ | async}}</data>
    </kirby-flag>
  </kirby-item>
  <kirby-item size="sm">
    <h3>Days between food refills on average</h3>
    <kirby-flag slot="end" themeColor="success">
      <data>{{ avgDaysBetweenFoodRefill$ | async}}</data>
    </kirby-flag>
  </kirby-item>
  <kirby-item size="sm">
    <h3>Grams of food per chicken per day</h3>
    <kirby-flag slot="end" themeColor="success">
      <data>{{ weightPerChickenPerDay$ | async}}</data>
    </kirby-flag>
  </kirby-item>
</kirby-card>