@import 'colors.scss';

:host {
  display: flex;
  height: 36px;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.day {
  height: 100%;
  width: 70px;
  display: flex;
  align-items: center;
  font-style: italic;
}

.details {
  display: flex;
  align-items: center;
  width: 100%;
  padding-inline-start: 8px;
}

.refilled {
  margin-inline-start: 8px;
}

mat-icon {
  color: #595959 !important;
}