
$font-color: #ffffffb3;
$font-size: 12px;
$font-weight: 400;
$line-height: 28px;


$strong-red: #ff655a;
$primary: #ffd000;
$secondary: #ffffff;
$tertiary: #f1f1f1;
$border: rgba(128,128,255,0.25);