$panel-header-height: 3rem;

:host {
  min-height: 36px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: solid 1px grey;

  .app-dialog-title {
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 auto;
    margin: 0;
  }

  .app-dialog-title:first-child {
    padding-inline-start: 8px;
  }

  button[mat-icon-button] {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}