@import 'colors.scss';
/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; background-color: $tertiary;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 14px;}



.background {
  background-color: $tertiary;
}


mat-chip.center {
  .mdc-evolution-chip__cell {
    justify-content: center;
  }
}

.tabs {
  mat-tab-header {
    background-color: $primary;
  }
}
